.MainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    color: black;

}

.HeroContainer {
    width: 100%;
    height: 600px;
    background-color: blue;
}

.Section1 {
    width: 100%;
    height: 600px;
    display: flex;
    }

.Section1Left {
    width:50%;
    height:100%;
    background-color: aqua;
}

.Section1Right{
    width: 50%;
    height: 100%;
    background-color: chocolate;
}

.Section2 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.Section2Top {
    width: 100%;
    height: 100px;
    flex-direction: column;
}

.Section2TopHeader {
    width: 100%;
    height: 100px;
    flex-direction: column;
    background-color: blueviolet;
}

.Section2TopSubHeader {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: darksalmon;

}

.Section2Bottom {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: purple
}

.Section2Image1Container{
width:20%;
height:200px

}

.Section2Image1{
    width: 100%;
    height: 100%;
}

.Section2Image2Container{
    width:20%;
    height:200px
}

.Section2Image2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.Section2Image3{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.Section3 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: maroon;
}

.Section3Header {
    width: 100%;
    height: 20%;
    display: flex;
    color: white;

}

.Section3Body {
    width: 100%;
    height: 20%;
    display: flex;
    color: white;
}

.Section4 {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        background-color: pink
}

.Section4Header {
    width: 100%;
    height: 20%;
    display: flex;
    color: black;
}
.Section4Body {
    width: 100%;
    height: 20%;
    display: flex;
    color: black;
}

.Section5 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.Section5Top {
        width: 100%;
        height: 300px;
        display: flex;
        background-color: red
}

.Section5TopLeft {
    width:50%;
    height:100%;
    background-color: aqua;
}

.Section5Image1{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.Section5TopRight{
    width:50%;
    height:100%;
    background-color: green
}



.Section5Bottom{
    width: 100%;
    height: 300px;
    display: flex;
}
.Section5BottomLeft {
    width:50%;
    height:100%;
    background-color: purple
}
.Section5TopRight{
    width:50%;
    height:100%;
    background-color: orange
}
.Section5Image2{
    width: 100%;
    height: 100%;
    object-fit: fill;
}