.MainContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
}

.Section1 {
  width: 100%;
  height: 11000px;
  display: flex;
  flex-direction: column;
}

.Section1Header {
  width: 100;
  height: 50%;
  background-color: aqua;
  color: black;
  justify-content: center;
  align-items: center;
}

.Section1Body {
  width: 100;
  height: 50%;
  background-color: brown;
  justify-content: center;
  align-items: center;
}

.Section2 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section2Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section2LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section2LeftBottom {
  width: 100;
  height: 90%;
}

.Section2Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section2Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section2RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section2RightBottom {
  width: 100;
  height: 90%;
}

.Section2Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section3 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section3Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section3LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section3LeftBottom {
  width: 100;
  height: 90%;
}

.Section3Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section3Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section3RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section3RightBottom {
  width: 100;
  height: 90%;
}

.Section3Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section4 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section4Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section4LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section4LeftBottom {
  width: 100;
  height: 90%;
}

.Section4Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section4Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section4RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section4RightBottom {
  width: 100;
  height: 90%;
}

.Section4Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section5 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section5Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section5LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section5LeftBottom {
  width: 100;
  height: 90%;
}

.Section5Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section5Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section5RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section5RightBottom {
  width: 100;
  height: 90%;
}

.Section5Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section6 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section6Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section6LeftTop {
  width: 100;
  height: 10%;
  color: #031e41;
  font-size: 40px;
  font-weight: 700;
}

.Section6LeftBottom {
  width: 100;
  height: 90%;
}

.Section6Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section6Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section6RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section6RightBottom {
  width: 100;
  height: 90%;
}

.Section6Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section7 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section7Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section7LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section7LeftBottom {
  width: 100;
  height: 90%;
}

.Section7Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section7Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section7RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section7RightBottom {
  width: 100;
  height: 90%;
}

.Section7Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section8 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section8Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section8LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section8LeftBottom {
  width: 100;
  height: 90%;
}

.Section8Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section8Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section8RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section8RightBottom {
  width: 100;
  height: 90%;
}

.Section8Image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section9 {
  width: 100%;
  height: 11000px;
  display: flex;
  background-color: white;
}

.Section9Left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section9LeftTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section9LeftBottom {
  width: 100;
  height: 90%;
}

.Section9Image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.Section9Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Section9RightTop {
  width: 100;
  height: 10%;
  color: #031E41;
  font-size: 40px;
  font-weight: 700;
}

.Section9RightBottom {
  width: 100;
  height: 90%;
}
